<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            @*@Html.ActionLink("MyAPp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a href="UserLogin" class="btn btn-danger" role="button">Logout</a>
        </div>
        
    </div>
</div>